@{
    ViewBag.Title = "Contact";
}

<script src="http://hubserver.apphb.com/Scripts/jquery-2.2.0.js"></script>
<script src="http://hubserver.apphb.com/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="http://hubserver.apphb.com/signalr/hubs"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#chatHead').show();
        $('#chatBox').hide();
    });

    $(function () {

        $.connection.hub.url = 'http://hubserver.apphb.com/signalr';
        var hub = $.connection.chatterHub;

        $.connection.hub.start()
            .done(function () { console.log('Now connected, connectionID = ' + $.connection.hub.id); })
            .fail(function () { console.log('Could not connect!!'); });

        $('#connect').click(function () {
            var xname = $('#input1').val();
            var xemail = $('#input2').val();
            var xnumber = $('#input3').val();

            if (xname == '' && xemail == '' && xnumber == '') {
                alert('Please fill up the name, address and email! Thank you!');
            }
            else {
                $('#chatHead').hide();
                $('#chatBox').show();
            };
        });
    });
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
    $('#connect').click(function () {
        var xname = $('#input1').val();
        var xemail = $('#input2').val();
        var xnumber = $('#input3').val();

        $.ajax({
            url: "@(Url.Action("Connect", "Contact"))",
            type: "POST",
            data: { name: xname, email: xemail, number: xnumber },
            cache: false,
            async: true,
            success: function (data) {
                if (data)
                {
                    $('#divChat').append('<li><strong>' + xname + '</strong>:&nbsp;&nbsp; you are now connected!</li>');
                    //console.log(data);
                    //$('#input5').val(xname + ": you are now connected!");
                }
            }
        });
    });

    $('#send').click(function () {
        var xname = $('#input1').val();
        var xemail = $('#input2').val();
        var xnumber = $('#input3').val();

        $.ajax({
            url: "@(Url.Action("Connect", "Contact"))",
            type: "POST",
        data: { name: xname, email: xemail, number: xnumber },
        cache: false,
        async: true,
        success: function (data) {
            if (data)
            {
                var xmessage = $('#input4').val();
                var xname = $('#input1').val();

                $.ajax({
                    url: "@(Url.Action("SendMessage", "Contact"))",
                    type: "POST",
                data: { message: xmessage },
                cache: false,
                async: true,
                success: function (data) {
                        if(data)
                        {
                            console.log(data);
                            $('#divChat').append('<li><strong>' + xname + '</strong>:&nbsp;&nbsp;' + xmessage + '</li>');
                            $('#divChat').append('<li><strong>' + xname + '</strong>:&nbsp;&nbsp;message sent!</li>');
                        }
                    }
                });
                //$('#divChat').append('<li><strong>' + xname + '</strong>:&nbsp;&nbsp; you are now connected!</li>');
                //console.log(data);
                //$('#input5').val(xname + ": you are now connected!");
            }
        }
        });
    });
</script>*@

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact <small>We'd Love to Hear From You!</small></h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Let's Get In Touch!</h3>
            <p>If you have some inquiries, questions or concerns, you may directly send a message to Karren's Pastry Cafe below and we'll send you an email or text you regarding your question or concern.</p>

            <div id="chatHead" class="row">
                <div class="form-group col-lg-4">
                    <label for="input1">Name</label>
                    <input type="text" id="input1" class="form-control" name="name" />
                    <label for="input2">Email Address</label>
                    <input type="email" id="input2" class="form-control" name="email" />
                    <label for="input3">Phone Number</label>
                    <input type="number" id="input3" class="form-control" name="number" />
                    <br/>
                    <button class="btn btn-primary" id="connect" type="submit" style="float: right;">Connect</button>
                </div>
            </div>

            <div id="chatBox" class="row">
                <div class="form-group col-lg-12">
                    <label for="sendMsg">Type message here:</label>
                    <input type="text" id="sendMsg" class="form-control" name="msg" />
                    <br />
                    <button class="btn btn-primary" id="send" type="submit" style="float: right;">Send</button>
                </div>

                <div class="form-group col-lg-12">
                    <label for="input4">Messages</label>
                    <textarea rows="20" type="text" id="input4" class="form-control" name="contact_message"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>